x-common-env: &common_env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

x-common-service: &common_service
  networks:
    - homelab_network
  restart: unless-stopped

name: homelab-applications
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    <<: *common_service
    environment:
      <<: *common_env
      HOMEPAGE_ALLOWED_HOSTS: ${SERVER_IP}:${HOMEPAGE_PORT},home.${SERVER_DOMAIN}
    ports:
      - ${HOMEPAGE_PORT}:3000
    volumes:
      - ${CONFIG_ROOT}/homepage/config:/app/config
      - ${NAS}:${NAS}
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: "256M"

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${SYNCTHING_PORT_UI}:8384
      - ${SYNCTHING_PORT_TRAFFIC}:22000
      - ${SYNCTHING_PORT_TRAFFIC}:22000/udp
      - ${SYNCTHING_PORT_DISCOVERY}:21027/udp
    volumes:
      - ${CONFIG_ROOT}/syncthing/config:/config
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: "128M"

  vaultwarden:
    image: vaultwarden/server:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${VAULTWARDEN_PORT}:80
    volumes:
      - ${CONFIG_ROOT}/vaultwarden/data:/data
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "128M"

  wud:
    image: getwud/wud
    <<: *common_service
    environment:
      <<: *common_env
      WUD_TRIGGER_DOCKER_UPDATE_AUTO: false
      WUD_TRIGGER_DOCKER_UPDATE_PRUNE: true
    ports:
      - ${WUD_PORT}:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"

networks:
  homelab_network:
    external: true