x-common-env: &common_env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

x-common-service: &common_service
  networks:
    - shared_network
  restart: unless-stopped

name: homelab
services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${BAZARR_PORT}:6767
    volumes:
      - ${CONFIG_ROOT}/bazarr/config:/config
      - ${NAS}:/mnt

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    <<: *common_service
    environment:
      <<: *common_env
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
    command: tunnel run

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    <<: *common_service
    environment:
      <<: *common_env
      LOG_LEVEL: info
      LOG_HTML: false
      CAPTCHA_SOLVER: none
    ports:
      - ${FLARESOLVERR_PORT}:8191

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${GRAFANA_PORT}:3000

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    <<: *common_service
    environment:
      <<: *common_env
      HOMEPAGE_ALLOWED_HOSTS: localhost:3002
    ports:
      - ${HOMEPAGE_PORT}:3000
    volumes:
      - ${CONFIG_ROOT}/homepage/config:/app/config
      - ${NAS}:/mnt
      - /var/run/docker.sock:/var/run/docker.sock:ro

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    <<: *common_service
    environment:
      <<: *common_env
      AUTO_UPDATE: true
      RUN_OPTS:
    ports:
      - ${JACKETT_PORT}:9117
    volumes:
      - ${CONFIG_ROOT}/jackett/config:/config

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${JELLYFIN_PORT}:8096
    volumes:
      - ${CONFIG_ROOT}/jellyfin/config:/config
      - ${NAS}/Data:/data

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    <<: *common_service
    environment:
      <<: *common_env
      LOG_LEVEL: debug
    ports:
      - ${JELLYSEERR_PORT}:5055
    volumes:
      - ${CONFIG_ROOT}/jellyseerr/config:/app/config

  komga:
    image: gotson/komga
    container_name: komga
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${KOMGA_PORT}:25600
    volumes:
      - ${CONFIG_ROOT}/komga/config:/config
      - ${CONFIG_ROOT}/komga/data:/data

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${NGINX_PORT_HTTP}:80
      - ${NGINX_PORT_HTTPS}:443
      - ${NGINX_PORT_UI}:81
    volumes:
      - ${CONFIG_ROOT}/nginx-proxy-manager/data:/data
      - ${CONFIG_ROOT}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    <<: *common_service
    environment:
      <<: *common_env
      FTLCONF_webserver_api_password: ${PIHOLE_API_KEY}
    ports:
      - ${PIHOLE_PORT_DNS}:53
      - ${PIHOLE_PORT_DNS}:53/udp
      - ${PIHOLE_PORT_HTTP_UI}:80
      - ${PIHOLE_PORT_HTTPS_UI}:443
    volumes:
      - ${CONFIG_ROOT}/pihole/data:/etc/pihole

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${PROMETHEUS_PORT}:9090

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    <<: *common_service
    environment:
      <<: *common_env
      WEBUI_PORT: ${QBITTORRENT_PORT_UI}
      TORRENTING_PORT: ${QBITTORRENT_PORT_TRAFFIC}
    ports:
      - ${QBITTORRENT_PORT_UI}:8080
      - ${QBITTORRENT_PORT_TRAFFIC}:6881
      - ${QBITTORRENT_PORT_TRAFFIC}:6881/udp
    volumes:
      - ${CONFIG_ROOT}/qbittorrent/config:/config

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${RADARR_PORT}:7878
    volumes:
      - ${CONFIG_ROOT}/radarr/config:/config

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${SONARR_PORT}:8989
    volumes:
      - ${CONFIG_ROOT}/sonarr/config:/config

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${SYNCTHING_PORT_UI}:8384
      - ${SYNCTHING_PORT_TRAFFIC}:22000
      - ${SYNCTHING_PORT_TRAFFIC}:22000/udp
      - ${SYNCTHING_PORT_DISCOVERY}:21027/udp
    volumes:
      - ${CONFIG_ROOT}/syncthing/config:/config

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${UPTIME_KUMA_PORT}:3001
    volumes:
      - ${CONFIG_ROOT}/uptime-kuma/data:/app/data

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${VAULTWARDEN_PORT}:80
    volumes:
      - ${CONFIG_ROOT}/vaultwarden/data:/data

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    <<: *common_service
    environment:
      <<: *common_env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  shared_network: