x-common-env: &common_env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

x-common-service: &common_service
  networks:
    - homelab_network
  restart: unless-stopped

name: homelab-networking
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    <<: *common_service
    environment:
      <<: *common_env
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
    volumes:
      - ${CONFIG_ROOT}/cloudflared:/etc/cloudflared
    command: tunnel run
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "64M"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    <<: *common_service
    environment:
      <<: *common_env
      LOG_LEVEL: info
      LOG_HTML: false
      CAPTCHA_SOLVER: none
    ports:
      - ${FLARESOLVERR_PORT}:8191
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${NGINX_PORT_HTTP}:80
      - ${NGINX_PORT_HTTPS}:443
      - ${NGINX_PORT_UI}:81
    volumes:
      - ${CONFIG_ROOT}/nginx-proxy-manager/data:/data
      - ${CONFIG_ROOT}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"

  pihole:
    image: pihole/pihole:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${PIHOLE_PORT_DNS}:53
      - ${PIHOLE_PORT_DNS}:53/udp
      - ${PIHOLE_PORT_HTTP_UI}:80
      - ${PIHOLE_PORT_HTTPS_UI}:443
    volumes:
      - ${CONFIG_ROOT}/pihole/data:/etc/pihole
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "128M"

  tailscale:
    image: tailscale/tailscale:latest
    <<: *common_service
    environment:
      <<: *common_env
      TS_AUTHKEY: ${TAILSCALE_AUTHKEY}
      TS_HOSTNAME: ${SERVER_HOSTNAME}
      TS_ROUTES: 192.168.0.0/24
    volumes:
      - ${CONFIG_ROOT}/tailscale/state:/var/lib/tailscale
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"

networks:
  homelab_network:
    external: true