x-common-env: &common_env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

x-common-service: &common_service
  networks:
    - homelab_network
  restart: unless-stopped

name: homelab-logging
services:
  grafana:
    image: grafana/grafana:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${GRAFANA_PORT}:3000
    volumes:
      - ${CONFIG_ROOT}/grafana/data:/var/lib/grafana
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "256M"

  prometheus:
    image: prom/prometheus:latest
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${PROMETHEUS_PORT}:9090
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "256M"

  uptime-kuma:
    image: louislam/uptime-kuma:1
    <<: *common_service
    environment:
      <<: *common_env
    ports:
      - ${UPTIME_KUMA_PORT}:3001
    volumes:
      - ${CONFIG_ROOT}/uptime-kuma/data:/app/data
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "256M"

networks:
  homelab_network:
    external: true