name: jackett
services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      AUTO_UPDATE: true
      RUN_OPTS:
    ports:
      - 9117:9117
    volumes:
      - ${CONFIG_ROOT}/jackett/config:/config
    restart: unless-stopped