name: vaultwarden
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    ports:
      - "83:80"
    volumes:
      - /vw-data/:/data/
    restart: unless-stopped