name: flaresolverr
services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      LOG_LEVEL: info
      LOG_HTML: false
      CAPTCHA_SOLVER: none
    ports:
      - 8191:8191
    restart: unless-stopped 
