name: uptime-kuma
services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 3001:3001
    volumes:
      - ${CONFIG_ROOT}/uptime-kuma/data:/app/data
    restart: unless-stopped