name: portainer
services:
  portainer:
    image: portainer/portainer-ce:lts
    container_name: portainer
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - ${CONFIG_ROOT}/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped