name: bazarr
services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 6767:6767
    volumes:
      - ${CONFIG_ROOT}/bazarr/config:/config
    restart: unless-stopped