name: vaultwarden
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 83:80
    volumes:
      - ${CONFIG_ROOT}/vaultwarden/data:/data/
    restart: unless-stopped