name: grafana
services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 3000:3000
    restart: unless-stopped