name: jellyseerr
services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      LOG_LEVEL: debug
    ports:
      - 5055:5055
    volumes:
      - ${CONFIG_ROOT}/jellyseerr/config:/app/config
    restart: unless-stopped