name: jellyfin
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 8096:8096
    volumes:
      - ${CONFIG_ROOT}/jellyfin/config:/config
    restart: unless-stopped