name: cloudflared
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    command: tunnel --no-autoupdate --hello-world
    restart: unless-stopped