name: sonarr
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 8989:8989
    volumes:
      - ${CONFIG_ROOT}/sonarr/config:/config
    restart: unless-stopped