name: radarr
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 7878:7878
    volumes:
      - ${CONFIG_ROOT}/radarr/config:/config
    restart: unless-stopped