name: komga
services:
  komga:
    image: gotson/komga
    container_name: komga
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 25600:25600
    volumes:
      - ${CONFIG_ROOT}/komga/config:/config
      - ${CONFIG_ROOT}/komga/data:/data
    restart: unless-stopped
