name: pihole
services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      FTLCONF_webserver_api_password: 'correct horse battery staple'
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 82:82/tcp
      - 444:443/tcp
    volumes:
      - ${CONFIG_ROOT}/pihole/data:/etc/pihole
    restart: unless-stopped