name: prometheus
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 9090:9090
    restart: unless-stopped